h1 {
  display: inline;
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Form styles */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

form input[type="text"]:focus {
  border-color: #007BFF;
}

form input[type="submit"] {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Task list styles */
.task-list {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.task:last-child {
  border-bottom: none;
}

.task:hover {
  background-color: #f9f9f9;
}

.task h1 {
  font-size: 18px;
  margin: 0;
  color: #333;
  word-break: break-word;
}

/* Button container styles */
.button-container {
  display: flex;
  gap: 10px; /* Add some space between the buttons */
}

/* Button styles */
.task button {
  padding: 5px 10px;
  border: none;
  background-color: #e74c3c;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 5px;
}

.task button:hover {
  background-color: #c0392b;
}

/* Edit button styles */
.task .edit-btn {
  background-color: #f39c12;
}

.task .edit-btn:hover {
  background-color: #e67e22;
}
